.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

.modalContainer {
  display: flex;
  flex-direction: column; /* Тільки в ряд */
  background: white;
  width: 913px; /* Фіксуємо загальну ширину для тесту */
  height: 521px; /* Фіксуємо висоту під ваше зображення */
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  z-index: 5001; /* Вище ніж overlay */
}

.uploadArea {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

/* Ліва частина з фото */
.imageBox {
  width: 578px; /* Точна ширина як ви просили */
  height: 521px; /* Точна висота */
  min-width: 578px; /* Не даємо флексу стискати цей блок */
  background-color: #000; /* Чорний фон, щоб було видно, якщо картинка не завантажиться */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
}

/* Саме зображення всередині */
.mainPostImage {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}

/* Права частина з коментарями */
.detailsSection {
  flex: 1; /* Займає решту простору (~422px) */
  display: flex;
  flex-direction: column;
  background: white;
  border-left: 1px solid #efefef;
  height: 100%;
  margin:0 16px;
}

.user {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 125px;
}

.avatar {
  width: 28px;
  height: 28px;
}

.username {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}

/* Header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  border-bottom: 1px solid #efefef;
  font-size: 16px;
  font-weight: 600;
}

.closeBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shareBtn {
  color: #0095F6 !important;
  background-color: transparent !important; /* Перевизначаємо фон з Button.jsx */
  width: auto !important; /* Перевизначаємо ширину */
  margin: 0 !important; /* Скидаємо відступи */
  padding: 0 !important; /* Скидаємо внутрішні відступи */
  font-size: 16px;
  font-weight: 600;
  
}