.inputWrapper {
    display: flex;
    flex-direction: column;
    margin: 6px 40px;
    width: calc(100% - 80px); /* 100% мінус лівий та правий margin */
}

.label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

.input {
    padding: 9px 8px 7px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    font-size: 12px;
    transition: border-color 0.2s;
    background-color: #fafafa;
}

.input:focus {
    outline: none;
    border-color: #a8a8a8;
}

.inputError {
    border-color: #dc3545;
}

.inputError:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 2px rgba(220, 53, 69, 0.25);
}

.errorMessage {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}