.button {
    background-color: #0095F6;
    border: none;
    border-radius: 8px;
    color: white;
    width: calc(100% - 80px);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    padding: 8px 16px;
    margin: 8px 0px 50px 40px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover { background-color: #1877f2; }