.pageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFFFFF;
}

.form {
    background: #fff;
    width: 350px;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 15px;
}

.logo {
    width: 190px;
    height: auto;
    margin: 19px auto 12px;
}

.subtitle {
    color: #737373;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    margin: 0 20px 38px;
}

.strings1{
    margin: 20px 0px 18px 0px;
}
.strings2{
    margin: 0px 0px 27px 0px;
}

/* Об'єднані стилі для всього дрібного тексту */
.and, .parag, .contactParag {
    color: #737373;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}

/* Відступи для батьківського контейнера тексту (strings1 та strings2) */
.parag {
    margin: 0px 40px;
}

/* Унікальний відступ для тексту в strings1 */
.contactParag {
    margin-left: 40px;
}

/* Стилі для "and" (span) */
.and {
    margin: 0px 2px;
    display: inline;
}

.learnMore{
    color: #00376B;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
    margin-right: 4px; /* ВИПРАВЛЕНО: для пробілів між посиланнями */
}

/* Залишено лише contactRow для strings1 та strings3 */
.contactRow {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 2px;
    /* ВИПРАВЛЕНО: Центрування вмісту Log in */
    justify-content: center;
}

/* Стилі для контейнера "Log in" */
.strings3 {
    width: 350px;
    border: 1px solid #DBDBDB;
    align-items: center;
    padding: 20px 0;
}