.pageWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-color: #FFFFFF;
}

.form {
    background: #fff;
    width: 350px;
    height: 554px;
    border: 1px solid #dbdbdb; /* Додано рамку */
    display: flex; /* Додано для кращого внутрішнього вирівнювання */
    flex-direction: column; /* Додано для кращого внутрішнього вирівнювання */
    margin-top: 80px;
}

.logo {
    width: 190px;
    height: auto;
    margin: 19px auto 12px;
}

.subtitle {
    color: #737373;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    margin: 0 40px 38px;
}

.strings1{
    margin: 20px 0px 18px 0px;
}
.parag, .contactParag {
    color: #737373;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}
.parag {
    margin: 0px 40px;
}
.contactParag {
    margin-left: 40px;
}
.learnMore{
    color: #00376B;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
}

.contactRow {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 2px;
}

.submitButton {
    width: calc(100% - 80px); /* 100% мінус лівий та правий margin */
    margin: 8px 0px 0px 40px;
    padding: 7px 16px;
    border: none;
    border-radius: 8px;
    background-color: #4cb5f9;
    color: white;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s;
}

.submitButton:hover { background-color: #1877f2; }