.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнення фону */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    width: 400px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #dbdbdb;
}

.closeBtn {
    background: none;
    border: none;
    cursor: pointer;
}

.recipientArea {
    padding: 15px;
    border-bottom: 1px solid #dbdbdb;
    font-size: 14px;
}

.messageInput {
    width: 100%;
    height: 150px;
    padding: 15px;
    border: none;
    resize: none;
    outline: none;
    font-size: 14px;
}

.modalFooter {
    padding: 10px 15px;
    display: flex;
    justify-content: flex-end;
}

.sendBtn {
    background-color: #0095f6;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.sendBtn:hover {
    background-color: #1877f2;
}