.pageWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Центруємо обидві колонки */
  align-items: center;
  min-height: 100vh;
  background-color: #fafafa;
}

.imageContainer {
  /* Стилі для контейнера з мобільними телефонами (як на референсі) */
  width: 440px;
  height: 580px;
  margin-right: 32px;
}
.phoneImages {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Щоб зображення не обрізалося, а вписалося у контейнер */
}
.rightColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.form {
  background: #fff;
  width: 350px;
  border: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 20px 0; /* Невеликий відступ зверху */
  margin-bottom: 10px;
}

.logo {
  width: 190px;
  height: auto;
  margin: 30px auto 30px; /* Збільшений відступ зверху/знизу */
}

/* Перевизначаємо відступи кнопки для сторінки логіну */
.form button {
  /* 8px top, 0px right, 10px bottom (ближче до OR), 40px left */
  margin: 8px 0px 10px 0px;
}

/* Роздільник OR (як на сторінці скидання пароля) */
.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 80px);
  margin: 10px 0 20px 0; /* Менший відступ знизу */
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #dbdbdb;
}

.orText {
  color: #737373;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  margin: 0 18px;
}

.forgotPasswordLink {
  color: #00376b;
  font-family: Roboto;
  font-size: 12px;
  text-decoration: none;
  margin-bottom: 15px;
}

/* Контейнер "Don't have an account? Sign up" */
.signUpContainer {
  width: 350px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  padding: 20px 0;
  text-align: center;
}

.signUpText {
  color: #262626;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.signUpLink {
  color: #0095f6;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600; /* Жирний, як на референсі */
  text-decoration: none;
}
