.sidebar {
    width: 244px;
    border-right: 1px solid #dbdbdb; /* Роздільна лінія */
    padding: 8px 12px 20px;
    background-color: #fff;
    position: sticky; /* Робимо сайдбар "липким" */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 158px); /* Фіксуємо висоту сайдбару, щоб бордер закінчувався вище футера */
}

.logoContainer {
  padding: 25px 0 40px 12px; /* Відступи зверху та знизу логотипу */
}

.logo {
  width: 130px; /* Менший розмір логотипу, ніж на сторінках автентифікації */
  height: auto;
}

/* Навігація всередині сайдбару */
.nav { /* Єдине визначення для .nav */
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Займає весь доступний простір */
    overflow-y: auto; /* Дозволяє прокручування, якщо контент перевищує висоту */
}

.navItem {
  display: flex;
  align-items: center;
  padding: 12px;
  margin-bottom: 4px; /* Невеликий відступ між пунктами */
  text-decoration: none;
  color: #262626;
  border-radius: 8px; /* Злегка заокруглені кути для hover-ефекту */
  transition: background-color 0.1s;
}

.navItem:hover {
  background-color: #f2f2f2;
}

/* Стилі для активного пункту меню */
.activeNavItem .navIcon {
    /* CSS-фільтр більше не потрібен, оскільки ми міняємо саме зображення */
}

.activeNavItem .navLabel {
    font-weight: 600; /* Робимо текст жирним */
}

/* За замовчуванням іконки будуть сірими */
.navIcon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.navLabel {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* Стилі для мініатюри профілю */
.profileIcon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    border-radius: 50%;
    /* Додаємо тонку рамку, якщо це активний профіль або просто для стилю */
    border: 1px solid #262626; 
    overflow: hidden;
}
