.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentArea {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  text-align: center;
  margin-bottom: 61px;
  color: #737373;
  font-size: 12px;
  font-weight: 400;
}
