.appContainer {
    display: grid; 
    grid-template-columns: 244px 1fr;
    min-height: 100vh;
}

.mainLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contentArea {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    padding-top: 30px;
}